html * {
  font-family: Verdana, sans-serif;
}

/* Override color custom properties from display.css */
:root {
  --ftr--color: #f2f2f2;
  --ftr--background-color: #a10909;
  --topnav--background-color: #a10909;
  --topnav-ddowncont--background-color: #c10909;
  --topnav-a--color: #fff;
  --btngrp-a-btn--color: white;
  --btngrp-a-btn--background-color: green; /* green, #a10909, #c10909 */
  --ddowncont-a-btn--color: white;
  --ddowncont-a-btn-hover--background-color: #dadada; /* #f9f2f4 */
}

/* Change color of regular links (doesn't affect topnav or button group) */
a {
  color: #a10909; /* #b31b1b; */
}

#topnav {
  font-size: 1.125em;
}

/* Tighten spacing for Upcoming Events */
.column.side h4 {
  margin-bottom: 10px;
}

.column.side h4 + ul {
  padding-left: 25px;
  margin-top: 5px;
}

/* Override styling only of images directly in main column (detail pages) */
.column.main > img {
  margin: 3px;
  border: 5px solid var(--btngrp-a-btn--background-color);
}

/* Make all cat-div buttons and links full width of their cat-divs */
.button-group.dropdown,
.button-group.dropdown button,
.button-group.dropdown .dropdown-content {
  display: block;
  width: 100%;
}

/* Override initial styling */
.button-group.dropdown a,
.button-group.dropdown button {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Center .cat-img under button */
.cat-img {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Eliminate transparency on hover */
.cat-div:hover .cat-img {
  opacity: 1;
  filter: none;
}

/* Make category name font size larger */
.button-group.dropdown button {
  font-size: 1.25em;
}

.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: #c10909;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #header {
    /* Skip the background image to avoid covering the image with a header */
    background-image: none;
  }
}

@media only screen and (max-width: 460px), (min-width: 540px) {
  #topnav-year {
    float: right;
  }
}
